@font-face {
  font-family: BlizzardD;
  src: url('./static/Blizzard\ D\ Regular.ttf');
}

html, body, #root {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
  
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100%;
  background-size:  cover;
  scroll-snap-align: start;

  /* For background image */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: row;
  /* gap: 5%; */

  padding: 0 5%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro>h1 {
  /* font-family: BlizzardD; */
  font-size: 6em;
  font-weight: 900;
  

  background: -webkit-linear-gradient(rgb(74, 174, 248), #d2d1d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.info>.header>h2 {
  font-size: 3em;

  background: -webkit-linear-gradient(rgb(74, 174, 248), #d2d1d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.info>.text {
  color: #d2d1d1;
}

.text>h3 {
  font-size: 3em;
}

.text>ul>li {
  font-size: 2em;
  font-weight: 500;
}
